@page
@model RazorWeb2.Pages.Funcionarios.CreateModel

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>Funcionario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Funcionario.Nome" class="control-label"></label>
                <input asp-for="Funcionario.Nome" class="form-control" />
                <span asp-validation-for="Funcionario.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.dtAdmissao" class="control-label"></label>
                <input asp-for="Funcionario.dtAdmissao" class="form-control" />
                <span asp-validation-for="Funcionario.dtAdmissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.SalBruto" class="control-label"></label>
                <input type="number" asp-for="Funcionario.SalBruto" class="form-control"
                       lang="en"/>
                <span asp-validation-for="Funcionario.SalBruto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario.Cidade" class="control-label"></label>
                <input asp-for="Funcionario.Cidade" class="form-control" />
                <span asp-validation-for="Funcionario.Cidade" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Funcionario.Email" class="control-label"></label>
                <input asp-for="Funcionario.Email" class="form-control"
                       data-val-email="O email deve ser valido."
                       data-val-minLength="O campo tem que ter minimo de 3 caracteres"
                />
                <!-- Colocou uma validacao data-val-email e data-val-minLength do jquery no campo Email da tabela Funcionario-->
                <!-- Isso permite colocar direto no html sem utilizar [Required] no C# na classe Funcionario.cs -->
                <span asp-validation-for="Funcionario.Email" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Funcionario.Senha" class="control-label"></label>
                <input asp-for="Funcionario.Senha" class="form-control" />
                <span asp-validation-for="Funcionario.Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
